{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Listado de autores</h1>

    <a href="{{ path('autor_nuevo') }}">Crear autor</a>
    <table border="1px">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Fecha nacimiento</th>
            <th>¿Nacional?</th>
            <th>Alias</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for autor in autores %}
            <tr>
                <td><a href="{{ path('autor_modificar', {'id': autor.id}) }}">{{ autor.id }}</a>: {{ autor.nombre }}</td>
                <td>{{ autor.apellidos }}</td>
                <td>{{ autor.fechaNacimiento | date('d/m/Y') }}</td>
                <td>{{ autor.esNacional ? 'Sí' : 'No' }}</td>
                <td>{{ autor.pseudonimo | default('') }}</td>
                <td><a href="{{ path('autor_eliminar', {'id': autor.id}) }}">Borrar</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}